.card{
    border: none;
    box-shadow: 0 0 10px #cccccc;
}
.owl-stage-outer{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.latest-news-btn{
    border: 2px solid orange;
    border-radius: 30px;
    padding: 8px 15px;
    font-weight: 600;
    transition: all 0.5s
   
}
.latest-news-btn:hover, .latest-news-btn:focus{
    
    box-shadow: inset 8.5em 0 0 orange;
   
}