.carousel-dark {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  top: -18px;
  position: relative;
}

.carousel-dark::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: #000000;
  opacity: 0.6;
  z-index: -1;
}

.carousel-content {
  min-height: 100%;
}

.carusel-content h3 {
  font-size: 23px;
}

.owl-stage-outer .owl-stage .owl-item.active .slider-title {
  animation: fadeInDownBig ease 1.2s both;
}

.owl-stage-outer .owl-stage .owl-item.active .slider-text {
  animation: fadeInLeftBig ease 1.2s both;
}

.owl-stage-outer .owl-stage .owl-item.active .slider-btn {
  animation: fadeInUpBig ease 1.2s both;
}

.owl-stage-outer .owl-stage .owl-item.active .info-0 {
  animation: fadeInDownBig ease 1.2s both;
}

.owl-stage-outer .owl-stage .owl-item.active .info-1 {
  animation: fadeInLeftBig ease 1.2s both;
}

.owl-stage-outer .owl-stage .owl-item.active .info-2 {
  animation: fadeInUpBig ease 1.2s both;
}

.owl-stage-outer .owl-stage .owl-item.active .info-5 {
  animation: fadeInDownBig ease 1.2s both;
}

.owl-stage-outer .owl-stage .owl-item.active .info-6 {
  animation: fadeInUpBig ease 1.2s both;
}

.owl-nav {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.owl-prev, .owl-next {
  background: #00000047  !important;
  width: 50px;
  height: 50px;
  border-radius: 50% !important;
  transition-duration: 0.6s;
}

.owl-next {
  margin-right: -50px !important;
  color: white !important;
  /* display: none !important; */
}

.owl-prev {
  margin-left: -50px !important;
  color: white !important;
  /* display: none !important; */

}
.owl-carousel:hover .owl-prev{
margin-left: 30px !important;
display: block !important;
}
.owl-carousel:hover .owl-next{
  margin-right: 30px !important;
  display: block !important;
}