.carousel-dark {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  top: -18px;
  position: relative;
}

.carousel-dark::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: #000000;
  opacity: 0.6;
  z-index: -1;
}

.carousel-content {
  min-height: 100%;
}

.carusel-content h3 {
  font-size: 23px;
}

/* .owl-prev span, .owl-next span {
	color: #FFF;
}

.owl-prev span:hover, 
.owl-next span:hover {
	color: #8199A3;
}

.owl-prev, .owl-next {
	position: absolute;
	top: 0;
	height: 100%;
}

.owl-prev {
	left: 100px;
}

.owl-next {
	right: 100px;
} */