.top-header-area {
  background-color: #002147;
  padding: 15px;
  border-bottom: 2px solid #ffc107;
  width: 100%;
}

.container {
  max-width: 1170px;
}

.links li a {
  font-weight: bold !important;
  text-transform: uppercase;
  font-size: 14px;
  padding: 6px 22px;
  transition: all 0.5s;
}

.links li a:hover {
  transform: scale(1.05);
}