.read-more-button {
    font-size: 15px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    line-height: 30px;
}

.read-more-button .btn-icon {
    font-size: 30px;
}